body{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;  
}
.logo {
    width: 100px;
    height: 100px;
    margin-right:50px;
    margin-left:400px;
}
.navbar li{
    list-style-type: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px; 
    display: inline-block;
    margin-top: 0px;
    margin-right: 14px;
    margin-left: 0px;
    gap:0px;
    font-weight:500;

}
.navbar li a{
    text-decoration: none;
    color: white;
    border-radius:20px;
    margin-top: 0px;
    padding: 10px;
}
.navbar li a:hover{
    cursor: pointer;
    background-color:#ffffff0d;
    border-radius: 20px;
    
}
.navbar div{
    display: inline-block;
    padding:0px 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    top:0px;
    gap:0px;
    margin-right: 0px;
    
} 
.header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0px 0px;
    margin-top: 0px;
    top:0px;
    position:fixed;
    width:100%;
    z-index: 50000;
    backdrop-filter: blur(6px);

} 
.resources-dropdown{
    margin-right:0px;
}
.contact{
    background-color: #ffffff0d;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 15px;
    border-radius: 20px;
    padding:10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.start{
    border-radius: 20px;
    font-size:15px;
    padding:10px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 400px;
    font-weight: 500;
}
.background-image{
    width: 100%;
    height: auto;
    margin-top: auto;
    position:absolute;
    display:flex;
    top:0;
    z-index:-100;
}
.new-btn{
    border:none;
    font-size:14px;
    color:white;
    z-index: 1000;
    display: inline-flex;
    position: absolute;
    top:120px;
    left:740px;
    align-items: center;
    background-color:#08090a26;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 5px;
    margin-top: 0px;

}
.new{
    background-color:#0c8c5e ;
    margin-right:8px;
    border-radius:15px;
    width:45px;
    height: 25px;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    justify-content: center;
}
.self-updating{
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 7px;
}
/* .arrow{
    background-color:white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:blue;
    box-sizing: border-box;
    margin-left: 7px;
    margin-right: 2px;
    font-weight: 800;
    font-size:15px;
} */
.arrow{
    height:15px;
    width:15px;
    margin-left: 2px;
}
.new-btn:hover{
    background-color: #08090a12;
    cursor: pointer;
}

.h1{
    display: inline-flex;
    position: absolute;
    top:180px;
    left:700px;
    align-items: center;
    font-size: 63.76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.h2{
    display: inline-flex;
    position: absolute;
    top:250px;
    left:650px;
    align-items: center;
    font-size:63.76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.p1{
    display: inline-flex;
    position: absolute;
    top:340px;
    left:720px;
    align-items: center;
    width: 450px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.p2{
    display: inline-flex;
    position: absolute;
    top:365px;
    left:735px;
    align-items: center;
    width: 450px;
    font-size:20px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form{
    display: inline-flex;
    position: absolute;
    top:455px;
    left:770px;
    align-items: center;
    background-color:#ffffff80;
    border-style: solid;
    border-width:1px;
    border-color: #ffffff80;
    border-radius: 25px;
    width: 320px;
    padding: 3px;
    gap:8px;
    
}
.email{
    margin-right: 20px;
    margin-left: 6px;
    opacity: 10;
    background-color: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email::placeholder{
    color: white;
    opacity: 10;
}
.form button{
    color:black;
    background-color: white;
    border-radius: 20px;
    border: none;
    padding:10px 18px;
    cursor: pointer;
    font-weight: 548;
    width: 100px;
    border-radius: 99px;
    margin-top: 1px;
    margin-bottom:1px;
    font-size: 14px;
    opacity: 100;
}
.table{
    display: inline-flex;
    position: absolute;
    top:65%;
    bottom:0;
    left:410px;
    align-items: center;
    border-radius: 25px;
}


