*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;  
}
body{
    
}
.logo {
    width: 104px;
    height: 24px;
    margin-right:140px;
    margin-left:400px;
}
.navbar li{
    list-style-type: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px; 
    display: inline-block;
    margin-top: 0px;
    margin-right: 8px;
    margin-left: 0px;
    gap:0px;
    font-weight:500;

}
.navbar li a{
    text-decoration: none;
    color: white;
    border-radius:20px;
    margin-top: 0px;
    padding: 10px;
}
.navbar li a:hover{
    cursor: pointer;
    background-color:#ffffff0d;
    border-radius: 20px;
    
}
.navbar div{
    display: inline-block;
    padding:0px 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    top:0px;
    gap:0px;
    margin-right: 0px;
    
} 
.header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0px 0px;
    margin-top: 0px;
    top:14px;
    position:fixed;
    width:100%;
    z-index: 50000;
    backdrop-filter: blur(6px);
    margin:0px;
    user-select: none;

} 
.resources-dropdown{
    margin-right:0px;
}
.contact{
    background-color: #ffffff0d;
    border-radius: 20px;
    margin-right: 4px;
    margin-left: 15px;
    border-radius: 20px;
    padding:4.5px 12px;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.start{
    border-radius: 20px;
    font-size:15px;
    padding:4.5px 12px;
    line-height: 1.5;
    height: 33.5px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 400px;
    font-weight: 500;

}
.background-image{
    width: 100%;
    height: auto;
    margin-top: auto;
    position:absolute;
    display:flex;
    top:0;
    z-index:-100;
}
.new-btn{
    border:none;
    font-size:14px;
    color:white;
    z-index: 1000;
    display: inline-flex;
    position: absolute;
    top:90px;
    left:740px;
    align-items: center;
    background-color:#08090a26;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 4px 8px 4px 4px;
    line-height:18px;
    margin-top: 0px;

}
.new{
    background-color:#0c8c5e ;
    margin-right:8px;
    border-radius:15px;
    width:45px;
    height: 25px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    justify-content: center;
}
.self-updating{
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 7px;
}
/* .arrow{
    background-color:white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:blue;
    box-sizing: border-box;
    margin-left: 7px;
    margin-right: 2px;
    font-weight: 800;
    font-size:15px;
} */
.arrow{
    height:15px;
    width:15px;
    margin-left: 2px;
}
.new-btn:hover{
    background-color: #08090a12;
    cursor: pointer;
}

.h1{
    /* display: flex;
    position: absolute;
    top:180px;
    left:700px;
    align-items: center;
    font-size: 63.76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: center;
    text-align: center;
    text-wrap: balance; */
    
    
    z-index: 20;
    display: flex;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 43rem;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 1.15;
    text-wrap: balance;
    letter-spacing: -.02em;
    font-size: 64px;
    font-size: max(2.5rem, min(4vw, 4rem));
    margin-inline: auto;
    margin-top:180px;

}
/* .h2{
    display: inline-flex;
    position: absolute;
    top:250px;
    left:650px;
    align-items: center;
    font-size:63.76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
} */
/* .p1{
    display: inline-flex;
    position: absolute;
    top:340px;
    left:720px;
    align-items: center;
    width: 450px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-wrap: balance;
} */
.p1{
    z-index: 20;
    display: flex;
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em; */
    justify-content: center;
    align-content: center;
    width: 630.1px;
    margin-top: 0px;
    top:0;
    max-width: 43rem;
    text-align: center;
    color: white;
    font-weight: 500;
    line-height: 1.15;
    text-wrap: balance;
    letter-spacing: -.02em;
    font-size: 18px;
    margin-inline: auto;

}
/* .p2{
    display: inline-flex;
    position: absolute;
    top:365px;
    left:735px;
    align-items: center;
    width: 450px;
    font-size:18px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
/* } */
.form{
    display: inline-flex;
    position: absolute;
    top:455px;
    left:800px;
    align-items: center;
    background-color:#ffffff26;
    border-style: solid;
    border-width:1px;
    border-color:#ffffff26;
    border-radius: 23px;
    width: 304px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap:14px;
    height: 40px;
    
}
.email{
    margin-right:0px;
    margin-left: 6px;
    opacity: 10;
    background-color:#ffffff26;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email::placeholder{
    color: white;
    opacity: 10;
}
.form button{
    background-color: white;
    color: black;
    border-radius: 20px;
    border-color: none;
    border: none;
    padding: 10px;
    margin-right: 0px;
    padding-right: 18px;
    padding-left: 18px;
}

.table{
    display: inline-flex;
    position: absolute;
    top:65%;
    bottom:0;
    left:410px;
    align-items: center;
    border-radius: 20px;
    /* background-image:linear-gradient(to-bottom,transparent 50% blur 50% ); */
}
.company{
    display: inline-flex;
    position: absolute;
    top:143%;
    left:490px;
    align-items: center;
    gap:40px;
    /* height: 40px;
    width: 1px; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-flow: row;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 50px 50px 50px 50px;
    text-wrap: balance;

}
.x-logo{
    
    
}

