*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;  
}
@font-face {
    font-family: 'myfont';
    src: /*url('./assets/fonts/font.woff2') format('woff2'),  */
    url('./assets/fonts/InterVariable-.ttf') format('truetype');
    font-display: swap;
}
body{
    font-family: 'myfont';
}
.logo {
    width: 104px;
    height: 24px;
    margin-right:140px;
    margin-left:400px;
}
.navbar li{
    list-style-type: none;
    /* color: black; */
    font-family:'myfont';
    font-size: 15px; 
    display: inline-block;
    margin-top: 0px;
    margin-right: 8px;
    margin-left: 0px;
    gap:0px;
    font-weight:500;

}
.navbar li a{
    text-decoration: none;
    color: black;
    border-radius:20px;
    margin-top: 0px;
    padding: 10px;
}
.navbar li a:hover{
    cursor: pointer;
    background-color:#ffffff0d;
    border-radius: 20px;
    font-weight: 500;
    
}
.navbar div{
    display: inline-block;
    padding:0px 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    top:0px;
    gap:0px;
    margin-right: 0px;
    
} 
.header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0px 0px;
    margin-top: 0px;
    padding: 10px;
    top:0px;
    position:fixed;
    width:100%;
    z-index: 50000;
    backdrop-filter: blur(18px);
    margin:0px;
    user-select: none;
} 
.resources-dropdown{
    margin-right:0px;
}
.contact{
    background-color: #ffffff0d;
    border-radius: 20px;
    margin-right: 4px;
    margin-left: 15px;
    border-radius: 20px;
    padding:4.5px 12px;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: black;
    font-weight: 500;
}

.start{
    border-radius: 20px;
    font-size:15px;
    padding:4.5px 12px;
    line-height: 1.5;
    height: 33.5px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 400px;
    font-weight: 500;

}
.background-image{
    width: 100%;
    height: auto;
    margin-top: auto;
    position:absolute;
    display:flex;
    top:0;
    z-index:-100;
}
.new-btn{
    border:none;
    font-size:14px;
    color:white;
    z-index: 1000;
    display: inline-flex;
    position: absolute;
    top:90px;
    left:740px;
    align-items: center;
    background-color:#08090a26;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 4px 8px 4px 4px;
    line-height:18px;
    margin-top: 0px;

}
.new{
    background-color:#0c8c5e ;
    margin-right:8px;
    border-radius:15px;
    width:45px;
    height: 25px;
    padding: 2px 8px;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    justify-content: center;
}
.self-updating{
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 7px;
}
/* .arrow{
    background-color:white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:blue;
    box-sizing: border-box;
    margin-left: 7px;
    margin-right: 2px;
    font-weight: 800;
    font-size:15px;
} */
.arrow{
    height:15px;
    width:15px;
    margin-left: 2px;
}
.new-btn:hover{
    background-color: #08090a12;
    cursor: pointer;
}

.h1{
    /* display: flex;
    position: absolute;
    top:180px;
    left:700px;
    align-items: center;
    font-size: 63.76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-content: center;
    text-align: center;
    text-wrap: balance; */
    
    
    z-index: 20;
    display: flex;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 43rem;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 1.15;
    text-wrap: balance;
    letter-spacing: -.02em;
    font-size: 64px;
    font-size: max(2.5rem, min(4vw, 4rem));
    margin-inline: auto;
    margin-top:180px;
    /* font-family:inherit ; */

}
/* .h2{
    display: inline-flex;
    position: absolute;
    top:250px;
    left:650px;
    align-items: center;
    font-size:63.76px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
} */
/* .p1{
    display: inline-flex;
    position: absolute;
    top:340px;
    left:720px;
    align-items: center;
    width: 450px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    text-wrap: balance;
} */
.p1{
    z-index: 20;
    display: flex;
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em; */
    justify-content: center;
    align-content: center;
    width: 630.1px;
    margin-top: 0px;
    top:0;
    max-width: 472px;
    text-align: center;
    color: white;
    font-weight: 400;
    line-height: 150%;
    text-wrap: balance;
    letter-spacing: -.02em;
    font-size: 18px;
    margin-inline: auto;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
}
/* .p2{
    display: inline-flex;
    position: absolute;
    top:365px;
    left:735px;
    align-items: center;
    width: 450px;
    font-size:18px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
/* } */
.form{
    display: inline-flex;
    position: absolute;
    top:455px;
    left:800px;
    align-items: center;
    background-color:#ffffff26;
    border-style: solid;
    border-width:1px;
    border-color:#ffffff26;
    border-radius: 23px;
    width: 304px;
    padding-top: 8px;
    padding-bottom: 8px;
    gap:14px;
    height: 40px;
    
}
.email{
    margin-right:0px;
    margin-left: 6px;
    opacity: 10;
    background-color:#ffffff26;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email::placeholder{
    color: white;
    opacity: 10;
}
.form button{
    background-color: white;
    color: black;
    border-radius: 20px;
    border-color: none;
    border: none;
    padding: 10px;
    margin-right: 0px;
    padding-right: 18px;
    padding-left: 18px;
}

.table{
    display: inline-flex;
    position: absolute;
    top:65%;
    bottom:0;
    left:410px;
    align-items: center;
    border-radius: 20px;
    /* background-image:linear-gradient(to-bottom,transparent 50% blur 50% ); */
}
.company{
    display: inline-flex;
    position: absolute;
    top:143%;
    left:490px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
    /* height: 40px;
    width: 1px; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-flow: row;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 64px 64px;
    line-height: 24px;
    max-width: 1024px;
    height: 156px;
    text-wrap: balance;
    padding-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 0px;
    row-gap: 28px;
    text-size-adjust: 100%;

}
/*  */
.anthropic{
    width:130px;
    height: 20px;
}
.coinbase{
    width: 122px;
    height: 25px;
}
.microsoft{
    width: 120;
    height: 26px;
}
.company img perplexity{
    width: 135px;
    height: 35px;
}
.hubspot{
    width: 100px;
    height: 30px;
}
.x{
    width: 124px;
    height: 27px;
    /* display:flex;
    align-items: center; */
}
.paypal{
    width: 110px;
    height: 130px;
}
.lovable{
    width:107px;
    height: 18px;
}
.built-heading{
    font-size: 40px;
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 175%;
    left:710px;
}
.subheading{
    font-size: 16px;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 182%;
    left:620px;
    text-wrap: balance;
    height: 48px;
    width: 648px;
    color:#08090acc;
    margin-inline: auto;
    line-height:1.5;
}
.blocks{
    display: grid;
    /* display:flex; */
    position: absolute;
    top:200%;
    left:490px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: 200px; */
    /* max-width: 1200px; */
    gap:10px;
}
.block-1{
    border: solid #08090a12;
    border-radius: 15px;
    border-width: 1px;
    padding: 24px;
    grid-row:1/2;
    grid-column: 1/2;
    position: relative;
    overflow: hidden;
}
.block-1-bg{
    position:absolute; 
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
    overflow-clip-margin: content-box;
    color-scheme: light;
    user-select: none;
    color:#08090a12;
    top:50%;
    left:0px;
    opacity: 0.06;

}
.block-1-p-1{
    color:#188b5f;
    letter-spacing: 0.6px;
    width:432.94px;
    height:18px

}
.block-1-heading{
    font-size:24px;
    width: 432.94px;
    height: 31.2px;
    letter-spacing: 0.6px;
    color: #08090a;
    font-weight: 500;
    text-wrap: balance;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.block-1-p-2{
    width:400.94px;
    height:72px;
    color:#08090acc;
    padding-top:20px;
    padding-bottom: 230px;
    font-size: 16px;
    text-wrap:balance;
    line-height: 1.5;
}
.block-2{
    border: solid #08090a12;
    border-radius: 15px;
    border-width: 1px;
    padding: 24px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    grid-row: 1/2;
    grid-column: 2/3;
}
.block-2-bg{
    /* display: flex;
    width:min-content;
    /* height:min-content; */
    position:absolute; 
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index:-1;
    overflow-clip-margin: content-box;
    color-scheme: light;
    user-select: none;
    color:#08090a12;
    top:50%;
    left:0px;
    opacity: 0.06;

}
.block-2-p-1{
    color:#188b5f;
    letter-spacing: 0.6px;
    width:432.94px;
    height:18px;
    
}
.block-2-heading{
    font-size:24px;
    width: 432.94px;
    height: 31.2px;
    letter-spacing: 0.6px;
    color: #08090a;
    font-weight: 500;
    text-wrap: balance;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.block-2-p-2{
    width:400.94px;
    height:72px;
    color:#08090acc;
    padding-top:20px;
    font-size: 16px;
    text-wrap:balance;
    line-height: 1.5;
}
.check-mark-anm{
    margin-top:50px;
    display:flex;
    flex-direction:row;
    justify-items: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 100px;
}
.check-mark-line{
    filter:brightness(500%);
    top: 20px;
    background-color: rgb(44, 44, 44);
    margin-bottom:7px;
}
.check-mark{
    background-color: #0c8c5e;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 5px solid rgb(221, 221, 221);
    padding:10px;
}
.check-star{
    background-color: #0c8c5e;
    border-radius: 50%;
    height: 60px;
    width: 60px; 
    border: 5px solid rgb(236, 236, 236);
    padding:12px;
    position: absolute;
    /* top:50%;
    left:50%; */
    /* transform: translate(-50%,-50%); */
}
.block-2-anm-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 60px;
    width: 60px; 
}
.check-mark-hover{
    opacity: 0;
    background-color: #0c8c5e;
    border-radius: 50%;
    height: 60px;
    width: 60px; 
    border: 5px solid rgb(221, 221, 221);
    padding:12px;
    /* position: absolute; */
    /*top:50%;
    left:50%;
    transform: translate(-50%,-50%);   */
}
/* .check-star,.check-mark-hover{
    /* position: absolute; 
    top:0;
    left: 0;
    width: 60px;
    height: 60px; */
    /* transition: opacity 1s ease; */

.block-2:hover .check-star{
    display: none;
    transition: all 0.5s ease-in-out;
}
.block-2:hover .check-mark-hover{
    opacity: 1;
    transition: all 0.2s ease-in-out;
    
}
.loader-img{
    height: 60px;
    width: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    height:27px;
    width: 27px;
    position:absolute;
    background-color: white;
    background-image: linear-gradient(white, white), 
                    linear-gradient(to bottom right, #0c8c5e, #46b58b,  #a5e0c7,#e0f7ef,white);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 1.8px solid transparent;
    top:28%;
    border-radius: 50px;
    border-image-slice: 1;
    bottom: 50%;
    left:28%;
    right: 50%;
    transform: translate(-50%, -50%);
    /* bottom: 50%; */
    animation: spin 2s linear infinite;
}
    @keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
}
    
}
.loader-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    position: absolute;
    animation: spin 3s linear infinite;
    animation-play-state: paused;
}

    @keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
}
}
.block-2-anm-2{
    position: relative;
    height: 60px;
    width: 60px;
}
.check-mark-div{
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3 ease;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-2:hover .loader-bg{
    animation-play-state: running;
}
.block-2:hover .loader-img{
    opacity: 0;
    transform: scale(0.8); 
    display: visible;
    animation: popDisappear 12s backwards;
}
@keyframes popDisappear {

    0% {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
    10% {
    opacity: 0;
    transform: scale(1);
}
90% {
    opacity: 0;
    transform: scale(1);
}

100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1);
}


}
.block-2:hover .check-mark-div{
    opacity: 1;
    transition: all 0.2s ease-in-out;
    visibility: visible;
    transform: scale(1);
    animation: popAppear 5s backwards;
}

@keyframes popAppear {

    0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(1);
}
    10% {
    opacity: 0;
    transform: scale(1);
}
90% {
    opacity: 1;
    transform: scale(1);
}

100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
}

.block-3{
    border: solid #08090a12;
    border-radius: 15px;
    border-width: 1px;
    padding: 24px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    /* grid-row: 3/5; */
    grid-column:1/3;

}
.block-3-p-1{
    color:#188b5f;
    letter-spacing: 0.6px;
    width:432.94px;
    height:18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 250px;
}
.block-3-heading{
    font-size:24px;
    width: 432.94px;
    height: 31.2px;
    letter-spacing: 0.6px;
    color: #08090a;
    font-weight: 500;
    text-wrap: balance;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 250px;
}
.block-3-p-2{
    width:478.94px;
    height:72px;
    color:#08090acc;
    padding:0px;
    font-size: 16px;
    text-wrap:balance;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 240px;
}
